################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/entropyzero2/v16/ipch/20c2987a28b2065b.ipch
/.vs/entropyzero2/v16
